@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
    background-color: #FFFE77;
    text-align: center;
}

.circle {
    height: 250px;
    width: 300px;
    background-color: #ffe18dbd;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

#circle1 {
    top: 90px;
    right: 115px;
}

#circle2 {
    top: 190px;
    left: 50px;
    background-color: #ffd04e63;
}

img {
    width: 50%;
    position: relative;
}

h1, h2 {
    font-family: "Schoolbell";
    text-align: center;
}

button {
    background-color: #FFFE77;
    border: 2px solid #fed029;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease-in-out
}

button:hover {
    background-color:#fed029;
    transform: translateY(-3px);
    box-shadow: 0 10px 0 rgba(0,0,0,0.2);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8ff50;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid #fff;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

